/* @font-face {
    font-family: robotoslab;
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

h1 {
    font-family: robotoslab;
    color: #fa9600;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
    height: 80px;
    margin: 0px 100px;
}

.cabecera-izq {
    display: flex;
}

.cabecera-izq>img {
    margin: 8px;
}

@media (max-width: 1500px) {
    .cabecera {
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
        height: 80px;
        margin: 0px 0px;
    }
} */